@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.body
{
    background: white;
}



.title {
  text-align: center;
  font-weight: 100;
}

.home-container
{
    top: 100px;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    overflow-y: scroll;
    max-width: 100%;
    position: relative;
    font-family: "Roboto", sans-serif;


}

.name-row
{
    display: table;
}
.card
{
    width: 100%;
}
.cell-col
{
    display: table-cell;
    vertical-align: middle;
}
.card-row
{
    margin-top:20px;
    margin-left: 5px;
    padding-left: 15px;
}



.plus {
  width: 50px;
  cursor: pointer;
  transition: all .3s ease-out 0s;
  height: 50px;
  background: #883c63;
  border-radius: 50%;
  display: flex;
  position: relative;
    z-index: 2;
  will-change: transform, filter;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;

}
.plus__line {
  width: 6px;
  height: 25px;
  background: #FFF;
  border-radius: 5px;
  position: absolute;
  left: calc(50% - 2px);
  top: calc(50% - 13px);
}
.plus__line--h {
  transform: rotate(90deg);
}
.plus__line--v {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  transition: all .4s ease 0s;
}
.centered {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.plus:hover
{
    width:65px;
    height:65px;
}

.timelapse-img{
    width:80%;
    float:right;
}

.postbutton
{
    float:right;
}