body{
     background: #DD3C72; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #DD3C72, #95266A);
  background: -moz-linear-gradient(right, #DD3C72, #95266A);
  background: -o-linear-gradient(right, #DD3C72, #95266A);
  background: linear-gradient(to left, #DD3C72, #95266A);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}