@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.title {
    text-align: center;
    font-weight: 100;
}

.recipe-container {
    top: 100px;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    max-width: 100%;
    position: relative;
    min-height: 600px;
}

.input-row {
    text-align: center;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    font-size: 14px;
    width: 250px;
}

.buttons-row {
    display: flex;
    justify-content: center;
}

.recipe-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.recipe-card .card-body {
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas:
        "title title"
        "image description";
}

.recipe-card .card-title {
    grid-area: title;
}

.recipe-card h6 {
    grid-area: description;
}

.recipe-card img {
    width: 100px;
    height: 100px;
    grid-area: image;
}

.recipe-card .card-footer {
    display: flex;
    justify-content: space-between;
}
