.home-container
{
    top: 100px;
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    background: white;
    overflow-y: scroll;
    max-width: 100%;
    position: relative;
    font-family: "Roboto", sans-serif;
    min-height:1000px;
}
.img-col img
{
    width:100%;
}

.history-col
{
    overflow-y:scroll;
    max-height:150px;
}