.home-container
{
    top: 100px;
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    background: white;
    overflow-y: scroll;
    max-width: 100%;
    position: relative;
    font-family: "Roboto", sans-serif;
    min-height:1000px;
}
.img-col img
{
    width:100%;
}
.info-row
{
    width:100%;
    margin-top:5px;
}
.history-col
{
    overflow-y:scroll;
    max-height:150px;
}
.card-row
{
    margin-top:5px;
}

.button {
  display: inline-block;
  padding: 4px 16px;
  height: 36px;
  background-color: #883c63;
  color: white;
  border-radius: 18px;
}

.button__group {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-content: stretch;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid #883c63;
}
.button__group .button {
  display: inline-block;
  flex: 1 100%;
  background-color: transparent;
  border-radius: 0;
  color: #883c63;
  border-right: 2px solid #883c63;
  transition: all .2s ease-out;
}
.button__group .button:last-child {
  border-right: 0;
}
.button__group .button:hover, .button__group .button.active {
  color: #fff;
  background-color: #883c63;
}

.button__group
{

    display:block;
    margin-left:auto;
    margin-right:auto;
}
.button__group .button
{
     width:200px;
     text-align: center;
}
.led-stats-card
{
    padding:0px;
    padding-top:20px;
}