<% include header.html %>

<div class="page-header text-center">
  <h1> Configure your Food Computer </h1>
  <nav>
    <div class="nav nav-tabs justify-content-center" role="tablist">
      <a class="nav-item nav-link" 
          role="tab" href="/home">Data</a>
      <a class="nav-item nav-link active" 
          role="tab" href="/configure">Configure</a>
      <a class="nav-item nav-link" 
          role="tab" href="/run">Run</a>
      <a class="nav-item nav-link"
          role="tab" href="/stop">Stop</a>
      <a class="nav-item nav-link"
          role="tab" href="/status">Status</a>
      <a class="nav-item nav-link"
          role="tab" href="/logout">Logout</a>
    </div>
  </nav>
</div>


  <form action="/configure" method="post">
    <div class="form-group text-center">
        <table class="table">
          <tr> 
            <th> Variables </th>
            <th> Control Sets </th>
          </tr> 
          <tr> 
            <td>
              <select class="form-control" name="var1">
                <option> </option>
                <option> co2_ccs811 </option>
                <option> co2_t6713 </option>
                <option> LED_panel </option>
                <option> light_control </option>
                <option> temp_humidity_htu20d </option>
                <option> temp_humidity_sht25 </option>
              </select>
            </td>
            <td>
              <select class="form-control" name="sched1">
                <option> </option>
                <option> measure every 10 sec </option>
                <option> LED disco set points </option>
                <option> light control 800 LUX </option>
              </select>
            </td>
          </tr> 
          <tr> 
            <td>
              <select class="form-control" name="var2">
                <option> </option>
                <option> co2_ccs811 </option>
                <option> co2_t6713 </option>
                <option> LED_panel </option>
                <option> light_control </option>
                <option> temp_humidity_htu20d </option>
                <option> temp_humidity_sht25 </option>
              </select>
            </td>
            <td>
              <select class="form-control" name="sched2">
                <option> </option>
                <option> measure every 10 sec </option>
                <option> LED disco set points </option>
                <option> light control 800 LUX </option>
              </select>
            </td>
          </tr> 
        </table>
        <button type="submit" class="btn btn-warning btn-lg">Send to device</button>

    </div>
  </form>


<% include footer.html %>
