
</main>

<footer class="footer">
  <div class="container">
  <span class="text-muted">
  <nav class="nav justify-content-center">
    <small>
      <a href="http://openag.mit.edu/" 
          class="nav-link" target="_blank">OpenAg™</a> 
    </small>
    <small>
    <a href="https://wiki.openag.media.mit.edu/start" 
        class="nav-link" target="_blank">wiki</a> 
    </small>
    <small>
    <a href="http://forum.openag.media.mit.edu/" 
        class="nav-link" target="_blank">forum</a> 
    </small>
    <small>
      <a href="http://creativecommons.org/licenses/by-sa/4.0/" 
          class="nav-link" target="_blank">CC BY-SA 4.0</a> 
    </small>
  </nav>
  </span>
  </div>
</footer>

<!-- Bootstrap core JavaScript. 
     Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
