<!doctype html>
<html lang="en">
<head>
    <title>OpenAg console</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body { padding-top:0px; word-wrap:break-word; }
    </style>
</head>
<body>

<!-- Automatically show menu on auth'd pages -->
<% if( pageName ) { 
     dataActive = "";
     title = "";
     if( 'data' == pageName ) {
        dataActive = "active";
        title = "Recent environmental variables";
     }

     configureActive = "";
     if( 'configure' == pageName ) {
        configureActive = "active";
        title = "Configure your Food Computer";
     }

     runActive = "";
     if( 'run' == pageName ) {
        runActive = "active";
        title = "Run your Food Computer";
     }

     stopActive = "";
     if( 'stop' == pageName ) {
        stopActive = "active";
        title = "Stop your Food Computer";
     }

     statusActive = "";
     if( 'status' == pageName ) {
        statusActive = "active";
        title = "Status of your Food Computer";
     }
%>
<div class="page-header text-center">
  <h1> <%= title %> </h1>
  <nav>
    <div class="nav nav-tabs justify-content-center" role="tablist">
      <a class="nav-item nav-link <%= dataActive %>" 
          role="tab" href="/home">Data</a>
      <a class="nav-item nav-link <%= configureActive %>" 
          role="tab" href="/configure">Configure</a>
      <a class="nav-item nav-link <%= runActive %>" 
          role="tab" href="/run">Run</a>
      <a class="nav-item nav-link <%= stopActive %>"
          role="tab" href="/stop">Stop</a>
      <a class="nav-item nav-link <%= statusActive %>"
          role="tab" href="/status">Status</a>
      <a class="nav-item nav-link"
          role="tab" href="/logout">Logout</a>
    </div>
  </nav>
</div>
<% } %> 

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="container">

