<% include header.html %>

    <div style="padding-top:40px;"></div>

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> OpenAg </h1>

        <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-primary"><span class="fa fa-user"></span> Create an account</a>
    </div>

<% include footer.html %>
