<% include header.html %>

<!--maybe later
<script src="/socket.io.js"></script>
<script>

  var socket = io(); 
  socket.on( 'status', function( msg ) {
            $('#info').text( msg );
      });
/*
  socket.emit( 'msgToServer', 'hi from client' );
  socket.on('connect', function(){
        console.log('io connected user=' + <%= user.id %>);
      });
  socket.on('disconnect', function(){
        console.log('io disconnect');
      });

// for a list of messages (maybe for data table?)
<ul id="messages"><li>messages list</li></ul>
        $('#messages').append($('<li>').text(msg));
*/
</script>

-->

  <br/>
  <form action="/status" method="post">
    <div class="form-group text-center">

        <button type="submit" class="btn btn-primary btn-lg">
          Request device Status</button>

    </div>
  </form>

  <% if( "undefined" != typeof( status_device ) && status_device.length > 0 ) { %>
    <div id="info" class="alert alert-success text-center"><%= status_device %></div>
  <% } %>

  <% if( "undefined" != typeof( status_info ) && status_info.length > 0 ) { %>
    <div class="alert alert-info text-center"><%= status_info %></div>
  <% } %>

  <% if( "undefined" != typeof( status_warning ) && status_warning.length > 0 ) { %>
    <div class="alert alert-warning text-center"><%= status_warning %></div>
  <% } %>

<% include footer.html %>
