<% include header.html %>

<div class="page-header text-center">
  <h1> Configure your Food Computer </h1>
  <nav>
    <div class="nav nav-tabs justify-content-center" role="tablist">
      <a class="nav-item nav-link" 
          role="tab" href="/home">Data</a>
      <a class="nav-item nav-link" 
          role="tab" href="/configure">Configure</a>
      <a class="nav-item nav-link" 
          role="tab" href="/run">Run</a>
      <a class="nav-item nav-link"
          role="tab" href="/stop active">Stop</a>
      <a class="nav-item nav-link"
          role="tab" href="/status">Status</a>
      <a class="nav-item nav-link"
          role="tab" href="/logout">Logout</a>
    </div>
  </nav>
</div>

<% include footer.html %>
