@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:400,300,700,500,100);

.recipe-container
{
    top:100px;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    overflow-y: scroll;
    max-width: 100%;
    position:relative;
    font-family: "Roboto", sans-serif;


}

.recipe-form

{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:80%;
}

.temp-card
{
    padding:10px;
    width:400px;
    margin:20px;
}

.led-card
{
    margin-left:20px;
}


.smallInput
{
    width:150px;
}

.colorInput
{
    width:100px;
    margin-right:4px;
}

h2,h6
{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width:auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.spacer {
  height: 1px;
}

hr {
  border: none;
  border-top: 1px solid rgba(0,0,0,0.5);
  padding: 0;
}

hr.small{
    width:100px;
}
.color-field-row
{
    margin-top:10px;
    margin-bottom:10px;

}

.padded-col
{
    margin-left: 15px;
}

.buttona {

    width:50%;
  position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
    font-family: "Roboto", sans-serif;
}
.buttona {
  position: relative;
  background: linear-gradient(135deg, #883c63, #cc5e7b);
  border-radius: 4px;
}


.bigInput
{
    width:300px;
}

.metadata-row
{
    width:80%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
}