@import "global_variables";

.device-homepage-container {

  .plot-container {
    top: 0;
  }

  .value-row {
    margin-top: 20px;
  }

  .value-card {
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 530px;
  }

  .environment-card
  {
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 200px;
  }

  .current-stats-card
  {
    padding: 20px;
    text-align: center;
    max-height: 200px;
  }

  .current-stats-card-edited {
    padding: 20px;
    text-align: center;
    max-height: 200px;
    border: 2px solid #883c63;
  }

  .graph {
    width: 80%;
    display: table;
    margin: 0 auto 0;
    position: relative;
    text-align: center;
    height: 12.5rem;
  }

  .colors-graph {
    width: 80%;
    position: relative;
    display: table;
    margin: 0 auto 0;
    padding-bottom: 5px;
  }

  .graph_media {
    max-height: 12rem;
  }

  .graph_data, .knob_data {
    font-size: 3rem;
  }

  .graph_data {
    display: table-cell;
    vertical-align: middle;
  }

  #chart {
    width: 100%;
    height: 100%;
  }

  .top {
    margin-bottom: 10px;
    /*background-color: #3f5175;*/
    border-radius: 4px;
    height: 400px;
    box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);
  }

  .bottom-left {
    background-color: #3f5175;
    border-radius: 4px;
    height: 400px;
    box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);
  }

  .bottom-right {
    background-color: #3f5175;
    border-radius: 4px;
    height: 400px;

    box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);
  }

  .shadow {
    -webkit-filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 2px 2px rgba(0,0,0,.3) );
  }

  .pad {
    padding:20px;
  }

  .browser-legend {
    font-size:14px;
    opacity:.8;
  }

  .bottom-left-svg {
    padding-top:40px;
    text-align: center;
  }

  .bottom-right-svg {
    text-align: center;
  }

  .line {
    fill: none;
    /*stroke: #7dc7f4;*/
    stroke-width: 5px;
  }

  .axis {
    fill:#bbc7d9;
    opacity: 1;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;

  }

  .axis text {
    font-size: 14px;
  }

  .y-grid .tick {
    stroke: #4b5f87;
    opacity: 1;
  }

  .colors-row {
    width:100%;
  }

  .colors-card {
    max-height:600px;
  }

  .dropdown {
    display: inline-block;
    margin-right: 20px;
  }

  .dropdown-row {
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .rc-slider {
    margin-top: 5px;
  }

  .big-height
  {
    height:500px;
  }

  .graphs-row {
    padding:5px;
  }

  .row-header {
      text-align: center;
      display:block;
      margin-left:auto;
      margin-right:auto;
  }

  .led-stats-card {
    text-align: center;
    max-height: 500px;
  }
  input {
    text-align:center;
  }

  .time-row {
    padding-top:10px;
  }

  .apply-button {
    width:100%;
  }

  .plot-row {
    display: block;
  }

  .recipe-details-text {
    text-align: center;
  }
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #888;
}

h1 {
  font-weight: 300;
}

.text-red {
  color: darkgreen;
}

.button-toggle-wrap {
  text-align: center;
  position: absolute;
  left: 75%;
  top: 105%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button-toggle {
  display: inline-block;
  background: #bbbbbb;
  border-radius: 3px;
  height: 24px;
  padding: 2px;
  width: 50px;
  position: relative;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.22);
}
.button-toggle .handle {
  position: absolute;
  left: 2px;
  right: auto;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 1.5px;
  transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
}

.toggler {
  display: none;
}
.toggler:checked + .button-toggle {
  background: darkgreen;
}
.toggler:checked + .button-toggle .handle {
  left: 28px;
}
.recipe-details-text
{
  border:0px;
  border-bottom: 2px solid #000;
}
  .edit-text
  {
        font-size: 2em;
  }

   .color-button
{
    .btn-secondary {
      background-color: rgb(149, 38, 106);
      border-color: rgb(149, 38, 106);
      width:100%;
    }
    .btn-secondary:hover
{
  background-color: #358A49;
     border-color:#358A49;
}
}
  .right-colu
  {
        padding-right: 40px;
  }


}
