.home-container {
  display: grid;
  grid-template-areas: "devices-dropdown . post-twitter" "notifications timelapse twitter" "notifications status twitter";
  grid-gap: 10px;
  grid-column-gap: 50px;
  grid-template-columns: 2fr 2.5fr 2.5fr;
}

.home-container {

  .notifications {
    display: flex;
    flex-direction: column;
    grid-area: notifications;
  }

  .notifications {

    .card-title {
      display: flex;
      justify-content: space-between;
    }

    .card-title img {
      height: 30px;
    }

    p {
      margin-bottom: 0;
    }

  }

  .timelapse {
    grid-area: timelapse;
  }

  .timelapse-img {
    width: 100%;
  }

  .status {
    grid-area: status;
  }

  .postbutton {
    grid-area: post-twitter;
    width: 180px;
  }

  .twitter {
    grid-area: twitter;
    height: 70vh;
    width: 100%;
    overflow-y: scroll;
  }

  .range-slider {
    margin: 60px 0 0 0%;
  }

  .range-slider {
    width: 100%;
  }
  .twitter {
    .row {
      .buttons-row {
        width: 100%;
        .btn-group {
          width: 100%;
          .btn.btn-outline-primary {
            width: 50%;
          }
        }
      }
    }

  }
  .range-slider__range {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }

  .range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
  }

  .range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
  }

  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }

  .range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
  }

  .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
  }

  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
  }

  ::-moz-range-track {
    background: #d7dcdf;
    border: 0;
  }

  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;
  }
  .checkmark {
    display: inline-block;
    width: 22px;
    height: 22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }

  .checkmark_circle {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: green;
    border-radius: 11px;
    left: 0;
    top: 0;
  }

  .checkmark-text {
    position: absolute;
    top: 2px;
    padding-left: 5px;
  }

  .rc-progress-line {
    height: 15px;
  }
  .day-row {
    text-align: right;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn {
    .btn-secondary {
      .btn-block {
        .social-buttons {
          width: 100%;
          margin-top: 10px;
          border-radius: 0px;
          background-color: rgb(149, 38, 106);
          border-color: rgb(149, 38, 106);
          color: white;
        }
      }
    }
  }
  .btn-secondary {
    background-color: rgb(149, 38, 106);
    border-color: rgb(149, 38, 106);
    width: 100%;
  }
  .btn-secondary:hover {
    background-color: #358A49;
    border-color: #358A49;
  }
  .bottom-row {
    margin-top: 5px;

  }
  .dropdown-toggle.btn.btn-secondary
  {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  .twitter-row {
    div {
      width: 100%;
    }
  }
  .social-buttons {
    width: 100%;
  }
  .padding-0 {
    padding-left: 0;
  }
  .discourse-container {
    height: 400px;
    padding-top: 10px;
    max-height: 400px;
    overflow-y: scroll;
  }
  .btn-group {
    width: 92%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .toggle-caret-upper
  {
    text-transform: uppercase;
  }
  .twitter-share-img img
  {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top: 10px;
  }
  .row.twitter-row div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
