@import "global_variables";

.mypfc-container {
  top: 100px;
  width: 100%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 20px;
  overflow-y: scroll;
  max-width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  min-height: 1000px;

  .stats-card {
    height: 200px;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    .card-body {
      height: 120px;
      text-align: center;
    }
    .card-title {
      text-align: center;
    }
    .card-footer {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      color: white;
      vertical-align: bottom;
      text-align: center;
      height: 80px;
      h4 {
        color: #f8fdff;
        opacity: .8;
      }
    }
  }
  .peripheral-row {
    width: 100%;
    padding-top: 10px;

  }
  .graph-row
  {
    width:100%;

    .graph-card
    {
      height:500px;
      margin-top:10px;
    }
  }
  .card-title {

  }

  .dropdown-toggle {
    background-color: $device-dropdown-color;
    border: $device-dropdown-color;
    color: white;
  }

}

